#submit_login
{
    width: 200px;
    padding: 3px;
    margin-left: 89px;
    margin-top: 3px;
}
#div_centerstage_register
{
    margin-top: 10%;
}
#button_register
{
    padding: 4px 40px;
}
#div_centerstage_forgot_password
{
    margin-top: 6%;
}
#span_centerstage_forgot_password
{
    font-size: 10pt;
}