/*                                                                                       */
/*                                ***     ***    *******                                 */
/*                                ****    ***   **********                               */
/*                                ******  ***  ***     ***                               */
/*                                *** *******         ***                                */
/*                                ***  ******       ****                                 */
/*                                ***   *****     ****                                   */
/*                                ***    ****   **********                               */
/*                                ***     ***  ***********                               */
/*                                                                                       */
/*                                         Hello.                                        */



/*****************************************************************************************/
/**************************************** General ****************************************/
/*****************************************************************************************/

html
{
    min-height: 100%;
}

body
{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    margin: 0px;
    font-size: 10pt;
}

body, input
{
    font-family: 'open sans','lucida grande',tahoma,verdana,arial,sans-serif;
}

div
{
    /*border: 1px solid rgba(139, 0, 139, 0.09);*/
}

a
{
    text-decoration: none;
}

.n2_button
{
    border: 0px;
    cursor: pointer;
    border-top: 1px solid #82cfff;
    background: #00b0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b0f0 0%, #0070c0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b0f0), color-stop(100%,#0070c0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b0f0 0%,#0070c0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#0070c0',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12pt;
}
        .n2_button:hover
        {
            background: #2fbcef; /* Old browsers */
            background: -moz-linear-gradient(top,  #2fbcef 0%, #1377bf 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fbcef), color-stop(100%,#1377bf)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #2fbcef 0%,#1377bf 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #2fbcef 0%,#1377bf 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #2fbcef 0%,#1377bf 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #2fbcef 0%,#1377bf 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fbcef', endColorstr='#1377bf',GradientType=0 ); /* IE6-9 */
        }
        .n2_button:active
        {
            background: #0070c0; /* Old browsers */
            background: -moz-linear-gradient(top,  #0070c0 0%, #00b0f0 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070c0), color-stop(100%,#00b0f0)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #0070c0 0%,#00b0f0 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #0070c0 0%,#00b0f0 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #0070c0 0%,#00b0f0 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #0070c0 0%,#00b0f0 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070c0', endColorstr='#00b0f0',GradientType=0 ); /* IE6-9 */
        }

.n2_button_w
{
    cursor: pointer;
    border: 0px;
    border-top: 1px solid #ffffff;
    background: #e6e6e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    color: black;
    font-size: 12pt;
}

    .n2_button_w:hover
    {
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
        background: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
        background: -moz-linear-gradient(top, #ffffff, #f3f3f3);
        background: -ms-linear-gradient(top, #ffffff, #f3f3f3);
        background: -o-linear-gradient(top, #ffffff, #f3f3f3);
    }

    .n2_button_w:active
    {
        background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ffffff));
        background: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
        background: -moz-linear-gradient(top, #e6e6e6, #ffffff);
        background: -ms-linear-gradient(top, #e6e6e6, #ffffff);
        background: -o-linear-gradient(top, #e6e6e6, #ffffff);
    }

.div_footer
{
    text-align: center;
    color: #9b9b9b;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div_footer>a
{
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}
.div_footer>a:hover
{
    color: rgb(0, 150, 235);
    text-decoration: none;
}

.div_footer_bar
{
    text-align: center;
    color: #dcdcdc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div_footer_bar>a
{
    color: #dcdcdc;
    font-weight: bold;
    cursor: pointer;
}
.div_footer_bar>a:hover
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.div_message
{
    z-index: 20;
    position: absolute;
    width: 700px;
    top: -200px;
    margin-left: -350px;
    left: 50%;
    padding: 10px;
    background: #00b0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b0f0 0%, #0070c0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b0f0), color-stop(100%,#0070c0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b0f0 0%,#0070c0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#0070c0',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.18);
    transition-property: top;
    transition-duration: 0.5s;
    -moz-transition-property: top;
    -mox-transition-duration: 0.5s;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
    -o-transition-property: top;
    -o-transition-duration: 0.5s;
}
.div_message_text
{
    float: left;
    margin-right: 120px;
    color: #ffffff;
}
.div_message_dismiss
{
    position: absolute;
    right: 15px;
    top: 25%;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}


/****************************************************************************************/
/**************************************** Stages ****************************************/
/****************************************************************************************/

#div_centerstage
{
    width: 950px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: rgba(89, 89, 89, 1);
    background-color: #fff;
    -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
}
.div_centerstage_part
{
    position: relative;
    top: 3%;
    height: 94%;
}

    #div_centerstage_left
    {
        left: 2%;
        float: left;
        width: 45%;
        text-align: center;
    }

        #div_centerstage_logo
        {
            margin-top: 20%;
        }
        #span_centerstage_logo
        {
            font-size: 80pt;
        }
        #div_centerstage_heading
        {
            font-size: 15pt;
            font-weight: bold;
            margin-top: 10%;
        }
        #div_centerstage_text
        {
            margin-top: 1%;
        }

    #div_centerstage_sep
    {
        left:5%;
        float: left;
        width: 1%;
        height: 75%;
        margin-top: 5%;
        border-left: 1px solid #dcdcdc;
    }

    #div_centerstage_right
    {
        left: 7%;
        float: left;
        width: 45%;
        text-align: center;
    }

        #div_centerstage_form
        {
            margin-top: 25%;
            margin-left: 15%;
            margin-right: 15%;
        }
        td
        {
            padding: 4px;
        }
        .td_form_label
        {
            width: 100px;
            color: #b4b4b4;
            font-size: 12pt;
        }
        .input_text, .span_input_text > input
        {
            width: 200px;
            height: 30px;
            font-family: 'open sans','lucida grande',tahoma,verdana,arial,sans-serif;
            font-size: 12pt;
            padding: 5px;
            border: 1px solid rgb(201, 201, 201);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.07);
            outline: 0px;
        }
        .input_text:focus, .span_input_text > input:focus
        {
            box-shadow: inset 0px 2px 8px rgba(0, 132, 250, 0.25);
        }

        textarea
        {
            font-family: 'open sans','lucida grande',tahoma,verdana,arial,sans-serif;
            font-size: 10pt;
            padding: 5px;
            border: 1px solid rgb(201, 201, 201);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.07);
            outline: 0px;
        }

        .td_form_label_error
        {
            border-left: solid 3px rgb(240, 0, 0);
            position: relative;
            left: -6px;
            padding-left: 7px;
        }

        select
        {
            font-family: 'open sans','lucida grande',tahoma,verdana,arial,sans-serif;
            font-size: 10pt;
            padding: 3px 3px;
            border: 1px solid rgb(201, 201, 201);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.07);
            outline: 0px;
        }


/***************************************************************************************/
/*************************************** Topping ***************************************/
/***************************************************************************************/


.div_topping
{
    z-index: 1;
}
    #button_create_notice
    {
        display: inline-block;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
        vertical-align: top;
        height: 27px;
        margin-right: 10px;
        padding: 0px 30px;
    }
    .div_user_dropdown
    {
        display: inline-block;
        text-align: center;
        background-color: #fff;
        border: 1px solid #b4b4b4;
        border-radius: 5px;
        height: 25px;
        overflow: hidden;
        transition-property: height;
        transition-duration: 0.5s;
        -moz-transition-property: height;
        -mox-transition-duration: 0.5s;
        -webkit-transition-property: height;
        -webkit-transition-duration: 0.5s;
        -o-transition-property: height;
        -o-transition-duration: 0.5s;
    }
    .div_user_dropdown:hover
    {
        height: 75px;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    }
    .div_user_dropdown_line
    {
        padding: 3px 20px;
    }
    .div_user_dropdown_identifier
    {
        display: inline-block;
        font-weight: bold;
    }
    .div_user_dropdown_icon
    {
        display: inline-block;
        margin-left: 5px;
    }
    .img_user_dropdown_icon
    {
        height: 8px;
    }
    .div_user_dropdown_item
    {
        padding: 3px 10px;
    }
    .div_user_dropdown_item>a
    {
        text-decoration: none;
        color: #00a3f0;
        font-weight: bold;
    }
    .div_user_dropdown_item>a:hover
    {
        text-decoration: underline;
    }

.width_std
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/***************************************************************************************/
/*************************************** Top Bar ***************************************/
/***************************************************************************************/


.div_bar_top
{
    background: #00b0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b0f0 0%, #0070c0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b0f0), color-stop(100%,#0070c0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b0f0 0%,#0070c0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#0070c0',GradientType=0 ); /* IE6-9 */
    height: 38px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    z-index: 10;
}
    .div_bar_container
    {
        margin-left: auto;
        margin-right: auto;
    }
        .div_bar_logo
        {
            margin-top: 8px;
            float: left;
        }
            .img_bar_logo
            {
                height: 21px;
            }
        .div_topping
        {
            float: right;
            margin-top: 5px;
        }

        .button_create_notice_topbar
        {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-size: 12pt;
            height: 26px;
            vertical-align: top;
            padding: 0px 20px;
            font-weight: bold;
        }

.div_bar_top_spacer
{
    height: 38px;
    width: 100%;
    margin-top: 0px;
}

.h1_page_title
{
    color: #0070c0; /* Old browsers */
    background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32pt;
    display: inline;
}

.div_content_stage
{
    margin-top: 5px;
    color: rgba(89, 89, 89, 1);
    background-color: #fff;
    -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18);
    padding: 20px;
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
}