<a href="{% url 'n2:index' %}"><h2>N2</h2></a>
<h3>{% block page_name %}{% endblock %}</h3>

{% if messages %}
    {% for message in messages %}
        <b><i>[{{ message.tags }}] {{ message|striptags }}</i></b><br/>
    {% endfor %}
{% endif %}

{% if stuff %}
    (Stuff: {{ stuff }})
{% endif %}

{% block content %}
    Hello. -N2
{% endblock %}