{% extends "base.html" %}

{% block page_name %}{% spaceless %}
{{ editor_title }}
{% endspaceless %}{% endblock %}

{% block content %}

{% if error_msg %}
    [{{ error_msg }}]
{% endif %}
{% if form_errors %}
    {{ form_errors }}
{% endif %}

<form action="{% url 'n2:compose_new' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <table>
        <tr>
            <td>
                <label for="id_title">title</label>
            </td>
            <td>
                {{ compose_form.title }}
            </td>
        </tr>

        <tr>
            <td rowspan>
                <label for="id_content">content</label>
            </td>
            <td>
                {{ compose_form.content }}
            </td>
        </tr>

        <tr>
            <td>
                <label for="id_date_published_month">publishing date</label>
            </td>
            <td>
                {{ compose_form.date_published }}
            </td>
        </tr>

        <tr>
            <td>
                <label for="id_date_expired_month">expiring date</label>
            </td>
            <td>
                {{ compose_form.date_expired }}
            </td>
        </tr>

        <tr>
            <td>
                <label for="id_image">image</label>
            </td>
            <td>
                {{ compose_form.image }}
            </td>
        </tr>

    </table>

    <h3>Tags</h3>

    {% for tag_group in all_tags %}
        <b>{{ tag_group.group_name }}</b><br/>
        {% for tag in tag_group.tags %}
            <label for="id_tags_{{ tag.pk }}"><input id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in selected_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
        {% endfor %}
        <br/>
    {% endfor %}

{# David added formset #}
	<h4>Django powered formset</h4>
	<table id="new_tag_formsets">
	    {{ add_tag_formset }}
	</table>
	<a id="add_new_tag_formset" href="javascript:add_new_tag_formset()">Add more tag</a>
	<script type="text/javascript">
	var form_count = {{add_tag_formset.total_form_count}};
	function add_new_tag_formset()
	{
		var formString = '{{add_tag_formset.empty_form|escapejs}}'.replace(/__prefix__/g, form_count);
		var formset = document.getElementById('new_tag_formsets').getElementsByTagName('tbody')[0];
		appendHTMLStringToElement(formString, formset);
		form_count++;
		document.getElementById('id_form-TOTAL_FORMS').value = form_count;
	}//http://stackoverflow.com/questions/2353710/how-would-you-make-a-dynamic-formset-in-django
	
	/* Appends the given HTML string after the HTML element's innerHTML.
	 * This is more robust and general than simply doing:
	 *     element.innerHTML += HTMLString
	 * @param HTMLString The HTML string to append
	 * @param element The element to append the HTML string to
	 */
	function appendHTMLStringToElement(HTMLString, element)
	{
		var temporaryElement = document.createElement(element.tagName);
		temporaryElement.innerHTML = HTMLString;
		element.appendChild(temporaryElement);
		while (temporaryElement.childNodes.length > 0) {
			element.appendChild(temporaryElement.childNodes[0]);
		}
		element.removeChild(temporaryElement);
	}
    </script>
{# David added formset #}

    {{ compose_form.original }}

    <input type="submit" value="Submit"/>

</form>

{% if perms.n2 %}
Has some permission on n2 app
{% else %}
Does NOT have permission at all on n2 app
{% endif %}
<br />
{% if perms.n2.add_notice %}
Has permission to create notice
{% else %}
Does NOT have permission to create notice
{% endif %}

{% endblock %}