{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Edit your profile
{% endspaceless %}{% endblock %}

{% block content %}

{% if error_msg %}
    [{{ error_msg }}]
{% endif %}
{% if form_errors %}
    {{ form_errors }}
{% endif %}
<form action="{% url 'n2:edit_user' %}" method="post">

    {% csrf_token %}
    <table>
{#    {% for field in user_form %}#}
{#        <tr>#}
{#            <td>#}
{#                {{ field.label_tag }}#}
{#            </td>#}
{#            <td>#}
{#                {{ field }}#}
{#            </td>#}
{#            <td>#}
{#                {% if field.errors %}#}
{#                    {{ field.errors|striptags }}#}
{#                {% endif %}#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
	
		<tr>
            <td>
                <label for="id_username">username</label>
            </td>
            <td>
                {{ user_form.username }}
            </td>
            <td>
                {% if user_form.username.errors %}
                    {{ user_form.username.errors|striptags }}
                {% endif %}
            </td>
        </tr>
		<tr>
            <td>
                <label for="id_password">password</label>
            </td>
            <td>
                {{ user_form.password }}
            </td>
            <td>
                {% if user_form.password.errors %}
                    {{ user_form.password.errors|striptags }}
                {% endif %}
            </td>
        </tr>
		<tr>
            <td>
                <label for="id_first_name">first_name</label>
            </td>
            <td>
                {{ user_form.first_name }}
            </td>
            <td>
                {% if user_form.first_name.errors %}
                    {{ user_form.first_name.errors|striptags }}
                {% endif %}
            </td>
        </tr>
		<tr>
            <td>
                <label for="id_last_name">last_name</label>
            </td>
            <td>
                {{ user_form.last_name }}
            </td>
            <td>
                {% if user_form.last_name.errors %}
                    {{ user_form.last_name.errors|striptags }}
                {% endif %}
            </td>
        </tr>
		<tr>
            <td>
                <label for="id_email">email</label>
            </td>
            <td>
                {{ user_form.email }}
            </td>
            <td>
                {% if user_form.email.errors %}
                    {{ user_form.email.errors|striptags }}
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>Preferred Tags</h3>
	{% if user_form.tags.errors %}
		{{ user_form.tags.errors|striptags }}
	{% endif %}
    {% for tag_group in all_tags %}
        <b>{{ tag_group.group_name }}</b><br />
        {% for tag in tag_group.tags %}
            <label for="id_tags_{{ tag.pk }}"><input id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in preferred_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
        {% endfor %}
        <br />
    {% endfor %}
	
    <input type="submit" value="Save"/>

</form>
{% endblock %}