{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Welcome
{% endspaceless %}{% endblock %}

{% block content %}

    Logged in as {{ user }}.
    <a href="{% url 'n2:edit_user' %}">Edit Profile</a>
    <a href="{% url 'n2:logout' %}">Log out.</a>
    <a href="{% url 'n2:compose_new' %}">Create notice.</a>

    <h3>Notices</h3>
    <ul>
        {% for notice in notices %}
             <li>
                 <a href="{% url 'n2:notice' notice.pk %}">{{ notice.title }}</a>
                 (by {{ notice.author }} on {{ notice.datePublished|date:"j M Y" }}) - {{ notice.num_views }} views, {{ notice.num_likes }} likes
             </li>
        {% endfor %}
    </ul>

    <form action="{% url 'n2:index' %}" method="get">

{#        {% csrf_token %}#}

        <table>
{#        {{ notice_search_form.as_table }}#}
{% comment %}
            <tr>
                <th><label for="id_keywords">keywords (optional)</label></th>
                <td>{{ notice_search_form.keywords }}</td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
            <tr>
                <th><label for="id_show_hidden">show hidden</label></th>
                <td>{{ notice_search_form.show_hidden }}</td>
                <td></td>
            </tr>
            <tr>
                <th><label for="id_show_expired">show expired</label></th>
                <td>{{ notice_search_form.show_expired }}</td>
                <td></td>
            </tr>
            <tr>
                <th><label for="id_bookmarked_only">show bookmarked only</label></th>
                <td>{{ notice_search_form.bookmarked_only }}</td>
                <td></td>
            </tr>
            <tr>
                <th><label for="id_sort_by_0">sort by</label></th>
                <td>
                    <ul>
                        {{ notice_search_form.sort_by }}
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr rowspan="3">
                <th><label for="id_tags_0">tags</label></th>
            </tr>
            <tr rowspan="3">
                <td>
                    {% for tag_group in all_tags %}
                        <b>{{ tag_group.group_name }}</b><br/>
                        {% for tag in tag_group.tags %}
                            <label for="id_tags_{{ tag.pk }}"><input id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in selected_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
                        {% endfor %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
{% endcomment %}<input type="submit" value="Submit"/>
{{ notice_search_form }}
        </table>

{#        <h3>Tags</h3>#}
{#        {% for tagGroup in tagGroups %}#}
{#            Tags<br/>#}
{#                &nbsp;&nbsp;{{ tagGroup.tagGroupName }}<br/>#}
{#            {% for tag in tagGroup.tag_set.all %}#}
{#                &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" name="tags" value="{{ tag.pk }}"/>{{ tag.tagName }}</label><br/>#}
{#            {% endfor %}#}
{#        {% endfor %}#}

        <br/>

    </form>

    <h3>All Registered Users</h3>
    <ul>
    {% for rUser in allUsers %}
        <li>{{ rUser }} ({{ rUser.first_name }} {{ rUser.last_name }}, Status: {{ rUser.status }})</li>
    {% endfor %}
    </ul>

{% endblock %}