{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Login
{% endspaceless %}{% endblock %}

{% block content %}

{% if error_msg %}
    [{{ error_msg }}]
{% endif %}
{% if form_errors %}
    {{ form_errors }}
{% endif %}

<form action="{% url 'n2:login' %}" method="post">

    {% csrf_token %}

    <table>
    {% for field in login_form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field }}
            </td>
            <td>
                {% if field.errors %}
                    {{ field.errors|striptags }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <input type="submit" value="Log in"/>

</form>

Haven't joined N2? <strong><a href="{% url 'n2:register' %}">Register now.</a></strong>

{% endblock %}