{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Notice
{% endspaceless %}{% endblock %}

{% block content %}

    <!-- Notice details -->
        <h3>
            {{ notice.title }}
        </h3>

        <p>
            by {{ notice.author }} on {{ notice.datePublished|date:"j M Y" }}
        </p>

        {% if notice.image %}
            <image src="{{ notice.image.url }}" style="height: 200px;"/>
        {% endif %}

        <p>
            {{ notice.content|safe|linebreaks }}
        </p>

    <!-- Notice stats -->
        <p>Total number of views: {{ notice.num_views }}</p>
        <p>Total number of likes: {{ notice.num_likes }}</p>

    <!-- Bookmark, like, hide -->
        <a id="bookmark_element" href="javascript:Dajaxice.n2.toggle_bookmark(bookmark_display_update, {'notice_id': {{ notice.pk }} })"></a><br/>
        <a id="like_element" href="javascript:Dajaxice.n2.toggle_like(like_display_update, {'notice_id': {{ notice.pk }} })"></a><br/>
        <a id="hide_element" href="javascript:Dajaxice.n2.toggle_hide(hide_display_update, {'notice_id': {{ notice.pk }} })"></a><br/>

        <script type="text/javascript">

            bookmark_true = '<div>Bookmarked. Click to remove bookmark.</div>'
            bookmark_false = '<div>Add to bookmarks.</div>'
            like_true = '<div>Liked. Click to unlike.</div>'
            like_false = '<div>Like this notice.</div>'
            hide_true = '<div>Hidden from dashboard. Click to unhide.</div>'
            hide_false = '<div>Hide from dashboard.</div>'

            function display_toggle(element_name, status, innerTrue, innerFalse) {
                document.getElementById(element_name).innerHTML=status?innerTrue:innerFalse;
            }

            function bookmark_display_update(data) {
                display_toggle('bookmark_element', data.bookmark == 'added', bookmark_true, bookmark_false);
            }
            function like_display_update(data) {
                display_toggle('like_element', data.like == 'added', like_true, like_false);
            }
            function hide_display_update(data) {
                display_toggle('hide_element', data.hide == 'added', hide_true, hide_false);
            }

            display_toggle('bookmark_element', {% if bookmarked %}true{% else %}false{% endif %}, bookmark_true, bookmark_false);
            display_toggle('like_element', {% if liked %}true{% else %}false{% endif %}, like_true, like_false);
            display_toggle('hide_element', {% if hidden %}true{% else %}false{% endif %}, hide_true, hide_false);

        </script>

    <!-- Edit notice -->
        <br/><br/>
        <a href="{% url 'n2:compose_edit' notice.pk %}">Edit this notice.</a>



    <br/><br/>

    <!-- Notice tags -->
        <strong>Tags</strong>
        {% for tag_group in all_tags %}
            <b>{{ tag_group.group_name }}</b><br/>
            {% for tag in tag_group.tags %}
                {% if tag.pk in selected_tags %}
                    {{ tag.name }}<br/>
                {% endif %}
            {% endfor %}
            <br/>
        {% endfor %}

{% endblock %}

{#        <!-- Bookmark toggle -->#}
{#        <form id="form_bookmark" method="POST" action="{% url 'n2:toggle_bookmark' %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="toggle" value="{% if bookmarked %}false{% else %}true{% endif %}"/>#}
{#            <input type="hidden" name="notice_id" value="{{ notice.pk }}"/>#}
{#        </form>#}
{##}
{#        {% spaceless %}<a href="javascript:document.getElementById('form_bookmark').submit()">#}
{#            {% if bookmarked %}Remove bookmark.{% else %}Bookmark this notice.{% endif %}#}
{#        </a>{% endspaceless %}#}
{#    #}
{#    <!-- Like toggle -->#}
{#        <form id="form_like" method="POST" action="{% url 'n2:toggle_like' %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="toggle_like" value="{% if liked %}false{% else %}true{% endif %}"/>#}
{#            <input type="hidden" name="notice_id" value="{{ notice.pk }}"/>#}
{#        </form>#}
{##}
{#        {% spaceless %}<a href="javascript:document.getElementById('form_like').submit()">#}
{#            {% if liked %}Unlike.{% else %}Like this notice.{% endif %}#}
{#        </a>{% endspaceless %}#}
{##}
{#    <!-- Hide toggle -->#}
{#        <form id="form_hide" method="POST" action="{% url 'n2:toggle_hide' %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="toggle_hide" value="{% if hide %}false{% else %}true{% endif %}"/>#}
{#            <input type="hidden" name="notice_id" value="{{ notice.pk }}"/>#}
{#        </form>#}
{##}
{#        {% spaceless %}<a href="javascript:document.getElementById('form_hide').submit()">#}
{#            {% if hide %}Unhide this notice.{% else %}Hide this notice.{% endif %}#}
{#        </a>{% endspaceless %}#}