{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Register
{% endspaceless %}{% endblock %}

{% block content %}

{% if error_msg %}
    [{{ error_msg }}]
{% endif %}
{% if form_errors %}
    {{ form_errors }}
{% endif %}

<form action="{% url 'n2:register' %}" method="post">

    {% csrf_token %}

{#    <table> {{ register_form.as_table }} </table>#}

    <table>
    {% for field in register_form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field }}
            </td>
            <td>
                {% if field.errors %}
                    {{ field.errors|striptags }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}" />

    <input type="submit" value="Register"/>

</form>

{% endblock %}

