<!DOCTYPE html>
{% extends "base.html" %}

{% block page_name %}{% spaceless %}
Reset Password
{% endspaceless %}{% endblock %}

{% block content %}
    <title></title>
</head>
{% if error_msg %}
    [{{ error_msg }}]
{% endif %}
<form action="{% url 'n2:reset' %}" method="post">

    {% csrf_token %}

    <table>
    {% for field in form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field }}
            </td>
            <td>
                {% if field.errors %}
                    {{ field.errors|striptags }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}" />

    <input type="submit" value="Reset password"/>

</form>
{% endblock %}