{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#    <form action="{url media}" method="POST" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <p>{{ upload_form.non_field_errors }}</p>#}
{#        <p>{{ upload_form.docfile.label_tag }}</p>#}
{#        <p>#}
{#            {{ upload_form.docfile.errors }}#}
{#            {{ upload_form.docfile }}#}
{#        </p>#}
{#        <p><input type="submit" value="upload"></p>#}
{#    </form>#}
{#</body>#}
{#</html>#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Upload image Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>Upload image</h1>
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}
 
        <!--malcala: please observe the enctype property below in the form header -->
        <form enctype="multipart/form-data" action="" method="post">

            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Upload image">
        </form>
  </body>
</html>