{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<div class="div_bar_logo">
    <img class="img_bar_logo" src="/media/ui/n2_filterbar.png">
</div>
<h1 id="site-name">Admin</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
