<html>

    <head>

        {# Title #}
        <title>
            {% block head_title %}
                N2
            {% endblock %}
        </title>

        {# CSS #}
        <link rel="stylesheet" type="text/css" href="/media/ui/n2.css">

        {# Icon #}
        <link rel="icon" type="image/ico" href="/media/ui/n2.ico">

        {% if messages %}
            <script type="text/javascript">
                function showMessages()
                {
                    messages = document.getElementsByClassName('div_message');
                    for (var i = 0; i < messages.length; i++) {
                        messages[i].style.top = '25px';
                    }
                }
                function dismissMessage(element)
                {
                    element.style.top = '-200px';
                }
            </script>
        {% endif %}

        {% block head_extra %}{% endblock %}

    </head>

    <body onload="{% if messages %}showMessages();{% endif %} {% block body_onload_extension %}{% endblock %}">

        {# Messages #}
        {% if messages %}
            {% for message in messages %}
                <div class="div_message" onclick="dismissMessage(this)">
                    <div class="div_message_text">
                        {{ message|striptags }}
                    </div>
                    <div class="div_message_dismiss">
                        click to dismiss
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Content #}
        {% block content %}
        {% endblock %}

    </body>
</html>