{% extends "n2base.html" %}

{% block head_title %}
    {{ editor_title|capfirst }}
{% endblock %}

{% block head_extra %}
    <style type="text/css">

            .div_page_desc
            {
                padding-left: 3px;
                padding-right: 17%;
                margin-bottom: 10px;
            }
            .div_content_stage_top
            {
                text-align: right;
                margin-bottom: 10px;
            }
                #submit_compose
                {
                    padding: 2px 20px;
                }

            .div_content_stage_left
            {
                display: inline-block;
                width: 70%;
                vertical-align: top;
            }
                #div_centerstage_form
                {
                    margin-top: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .input_text
                {
                    width: 410px;
                    height: 19px;
                }
                textarea
                {
                    width: 400px;
                    max-width: 400px;
                }

            .div_content_stage_right
            {
                display: inline-block;
                width: 28%;
                vertical-align: top;
            }

            .div_content_stage_heading
            {
                margin-bottom: 10px;
            }
            .span_content_stage_heading
            {
                font-size: 16pt;
                color: #0090f0;
            }

            .div_content_stage_tags
            {
                margin-left: 5%;
            }
            .div_content_stage_taggroup
            {
                margin-top: 5px;
            }
            .span_content_stage_taggroup
            {
                font-weight: bold;
            }
            .div_content_stage_taggroup > label
            {
                font-size: 9pt;
            }
            #div_create_tags_header
            {
                margin-top: 10px;
            }
            #span_create_tags_header
            {
                font-size: 11pt;
                color: #0090f0;
            }
            .td_create_tag_label
            {
                font-weight: normal;
                font-size: 9pt;
                text-align: left;
                color: #b4b4b4;
            }
            .span_input_text_create_tag > input
            {
                width: 150px;
                font-size: 10pt;
                height: 24px;
            }
            #add_new_tag_formset
            {
                color: #00a3f0;
                font-weight: bold;
            }

            .span_page_desc
            {
                color: #9b9b9b;
            }


    </style>
{% endblock %}

{% block content %}

        <div class="div_bar_top">
            <div class="div_bar_container width_std">
                <a href="{% url 'n2:index' %}">
                    <div class="div_bar_logo">
                        <img class="img_bar_logo" src="/media/ui/n2_filterbar.png"/>
                    </div>
                </a>
                <div class="div_topping">
                    <div class="div_user_dropdown">
                        <div class="div_user_dropdown_line">
                            <div class="div_user_dropdown_identifier">
                                {{ user }}
                            </div>
                            <div class="div_user_dropdown_icon">
                                <img class="img_user_dropdown_icon" src="/media/ui/dropdown.png"/>
                            </div>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:edit_user' %}">
                                profile settings
                            </a>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:logout' %}">
                                log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_bar_top_spacer">
        </div>

        <div class="div_page_title width_std">
            <h1 class="h1_page_title">
                {{ editor_title|truncatechars:25 }}
            </h1>
            <div class="div_page_desc">
                <span class="span_page_desc">
                    Your notice and/or created tags may be subject to approval by moderators.
                    By submitting this notice you agree with the University of Melbourne notices terms and conditions.
                    You can embed videos from YouTube and Vimeo - please don't embed anything else.
                    Links beginning with "http://" will become hyperlinks.
                </span>
            </div>
        </div>

        <form action="{% url 'n2:compose_new' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="div_content_stage width_std">
                <div class="div_content_stage_top">
                    <input class="n2_button" id="submit_compose" type="submit" value="submit notice"/>
                </div>
                <div class="div_content_stage_left">
                    <div class="div_content_stage_heading">
                        <span class="span_content_stage_heading">
                            notice
                        </span>
                    </div>
                    <div id="div_centerstage_form">
                        <table>
                            <tr>
                                <td class="td_form_label{% if compose_form.title.errors %} td_form_label_error{% endif %}">
                                    title
                                </td>
                                <td class="td_form_input">
                                    <span class="span_input_text">{{ compose_form.title }}</span>
                                </td>
{#                                <td class="td_form_error">#}
{#                                    {% if compose_form.title.errors %}{{ compose_form.title.errors|striptags }}{% endif %}#}
{#                                </td>#}
                            </tr>
                            <tr>
                                <td class="td_form_label{% if compose_form.content.errors %} td_form_label_error{% endif %}">
                                    content
                                </td>
                                <td class="td_form_input">
                                    {{ compose_form.content }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_form_label{% if compose_form.date_published.errors %} td_form_label_error{% endif %}">
                                    publishing date
                                </td>
                                <td class="td_form_input">
                                    {{ compose_form.date_published }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_form_label{% if compose_form.date_expired.errors %} td_form_label_error{% endif %}">
                                    expiry date
                                </td>
                                <td class="td_form_input">
                                    {{ compose_form.date_expired }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_form_label{% if compose_form.image.errors %} td_form_label_error{% endif %}">
                                    image
                                </td>
                                <td class="td_form_input">
                                    {{ compose_form.image }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="div_content_stage_right">
                    <div class="div_content_stage_heading">
                        <span class="span_content_stage_heading">
                            tags
                        </span>
                    </div>
                    <div class="div_content_stage_tags">

                        {% for tag_group in all_tags %}
                            {% if tag_group.tags %}
                                <div class="div_content_stage_taggroup">
                                    <span class="span_content_stage_taggroup">
                                        {{ tag_group.group_name }}
                                    </span><br/>
                                    {% for tag in tag_group.tags %}
                                        <label for="id_tags_{{ tag.pk }}"><input class="input_filter_bar_tag" id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in preferred_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div id="div_create_tags_header">
                            <span id="span_create_tags_header">
                                create new tags
                            </span>
                        </div>
                        <table id="new_tag_formsets">
                            {{ add_tag_formset }}
                        </table>
                        <a id="add_new_tag_formset" href="javascript:add_new_tag_formset()">
                            add more
                        </a>
                        <script type="text/javascript">
                        var form_count = {{add_tag_formset.total_form_count}};
                        function add_new_tag_formset()
                        {
                            var formString = '{{add_tag_formset.empty_form|escapejs}}'.replace(/__prefix__/g, form_count);
                            var formset = document.getElementById('new_tag_formsets').getElementsByTagName('tbody')[0];
                            appendHTMLStringToElement(formString, formset);
                            form_count++;
                            document.getElementById('id_form-TOTAL_FORMS').value = form_count;
                        }
{#                        //http://stackoverflow.com/questions/2353710/how-would-you-make-a-dynamic-formset-in-django#}
{#                        /* Appends the given HTML string after the HTML element's innerHTML.#}
{#                         * This is more robust and general than simply doing:#}
{#                         *     element.innerHTML += HTMLString#}
{#                         * @param HTMLString The HTML string to append#}
{#                         * @param element The element to append the HTML string to#}
{#                         */#}
                        function appendHTMLStringToElement(HTMLString, element)
                        {
                            var temporaryElement = document.createElement(element.tagName);
                            temporaryElement.innerHTML = HTMLString;
                            element.appendChild(temporaryElement);
                            while (temporaryElement.childNodes.length > 0) {
                                element.appendChild(temporaryElement.childNodes[0]);
                            }
                            element.removeChild(temporaryElement);
                        }
                        </script>

                    </div>
                </div>
            </div>

            {{ compose_form.original }}

        </form>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}