{% extends "n2base.html" %}

{% load staticfiles %}

{% block head_title %}
    Profile
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="/media/ui/login.css">
    <style type="text/css">

            .div_content_stage
            {
                padding-bottom: 40px;
            }
            .div_content_stage_top
            {
                text-align: right;
            }
                #submit_profile
                {
                    padding: 2px 20px;
                }

            .div_content_stage_left
            {
                display: inline-block;
                width: 55%;
                vertical-align: top;
            }
                #div_centerstage_form
                {
                    margin-top: 0px;
                    margin-left: 5%;
                }
                .input_text
                {
                    height: 19px;
                }

            .div_content_stage_right
            {
                display: inline-block;
                width: 40%;
                vertical-align: top;
            }

            .div_content_stage_heading
            {
                margin-bottom: 10px;
            }
            .span_content_stage_heading
            {
                font-size: 16pt;
                color: #0090f0;
            }

            .div_content_stage_tags
            {
                margin-left: 5%;
            }
            .div_content_stage_taggroup
            {
                margin-top: 5px;
            }
            .span_content_stage_taggroup
            {
                font-weight: bold;
            }
            .div_content_stage_taggroup > label
            {
                font-size: 9pt;
            }

        </style>

{% endblock %}

{% block content %}

        <div class="div_bar_top">
            <div class="div_bar_container width_std">
                <a href="{% url 'n2:index' %}">
                    <div class="div_bar_logo">
                        <img class="img_bar_logo" src="/media/ui/n2_filterbar.png"/>
                    </div>
                </a>
                <div class="div_topping">
                    <a href="{% url 'n2:compose_new' %}">
                        <button class="n2_button_w button_create_notice_topbar">create notice</button>
                    </a>
                    <div class="div_user_dropdown">
                        <div class="div_user_dropdown_line">
                            <div class="div_user_dropdown_identifier">
                                {{ user }}
                            </div>
                            <div class="div_user_dropdown_icon">
                                <img class="img_user_dropdown_icon" src="/media/ui/dropdown.png"/>
                            </div>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:edit_user' %}">
                                profile settings
                            </a>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:logout' %}">
                                log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_bar_top_spacer">
        </div>

        <div class="div_page_title width_std">
            <h1 class="h1_page_title">
                profile
            </h1>
        </div>

        <form action="{% url 'n2:edit_user' %}" method="post">

            {% csrf_token %}

            <div class="div_content_stage width_std">
                <div class="div_content_stage_top">
                    <input class="n2_button" id="submit_profile" type="submit" value="save changes"/>
                </div>
                <div class="div_content_stage_left">
                    <div class="div_content_stage_heading">
                        <span class="span_content_stage_heading">
                            account details
                        </span>
                    </div>
                    <div id="div_centerstage_form">
                        <form action="{% url 'n2:register' %}" method="post">
                            <table id="table_login">
                                <tr>
                                    <td class="td_form_label{% if user_form.username.errors %} td_form_label_error{% endif %}">
                                        username
                                    </td>
                                    <td class="td_form_input">
                                       {{ user_form.username }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_form_label{% if user_form.password.errors %} td_form_label_error{% endif %}">
                                        password
                                    </td>
                                    <td class="td_form_input">
                                        {{ user_form.password }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_form_label{% if user_form.first_name.errors %} td_form_label_error{% endif %}">
                                        first name
                                    </td>
                                    <td class="td_form_input">
                                        {{ user_form.first_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_form_label{% if user_form.last_name.errors %} td_form_label_error{% endif %}">
                                        last name
                                    </td>
                                    <td class="td_form_input">
                                        {{ user_form.last_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_form_label{% if user_form.email.errors %} td_form_label_error{% endif %}">
                                        email
                                    </td>
                                    <td class="td_form_input">
                                        {{ user_form.email }}
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="div_content_stage_right">
                    <div class="div_content_stage_heading">
                        <span class="span_content_stage_heading">
                            preferred tags
                        </span>
                    </div>
                    <div class="div_content_stage_subheading">
                        {% if user_form.tags.errors %}
                            {{ user_form.tags.errors|striptags }}
                        {% endif %}
                    </div>
                    <div class="div_content_stage_tags">
                         {% for tag_group in all_tags %}
                            {% if tag_group.tags %}
                                <div class="div_content_stage_taggroup">
                                    <span class="span_content_stage_taggroup">
                                        {{ tag_group.group_name }}
                                    </span><br/>
                                    {% for tag in tag_group.tags %}
                                        <label for="id_tags_{{ tag.pk }}"><input class="input_filter_bar_tag" id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in preferred_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
                                    {% endfor %}
                                </div>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}