{% extends "n2base.html" %}

{% block head_title %}
    N2
{% endblock %}

{% block head_extra %}
        <script src="/media/ui/jquery.js"></script>
        <script src="/media/ui/benholland_positioning.js"></script>
        <style type="text/css">

            .div_topping
            {
                position: absolute;
                right: 20px;
                top: 10px;
                min-width: 300px;
                text-align: right;
                left: 237px;
            }
                .div_user_dropdown
                {
                    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
                }

            #div_filter_bar
            {
                background: #00b0f0; /* Old browsers */
                background: -moz-linear-gradient(top,  #00b0f0 0%, #0070c0 50%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b0f0), color-stop(50%,#0070c0)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* IE10+ */
                background: linear-gradient(to bottom,  #00b0f0 0%,#0070c0 50%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#0070c0',GradientType=0 ); /* IE6-9 */
                background-color: #2fbcef;
                min-height: 100%;
                width: 220px;
                float: left;
                text-align: center;
                color: #fff;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                font-size: 9pt;
                line-height: 3pt;
            }



            #div_filter_bar_logo
            {
                width: 50%;
                height: 73px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            #img_filter_bar_logo
            {
                max-width: 100%;
            }
            #div_filter_bar_sep
            {
                border-top: solid 1px #fff;
                margin-top: 15px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #submit_filter
            {
                margin-top: 20px;
                padding: 2px 50px;
            }
            .div_filter_bar_heading
            {
                margin-top: 17px;
                margin-bottom: 3px;
            }
            .span_filter_bar_heading
            {
                font-size: 8pt;
                letter-spacing: 2pt;
            }
            #id_keywords
            {
                margin-top: 3px;
            }
            .div_filter_bar_group
            {
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
            }
            .div_filter_bar_tag_heading
            {
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .span_filter_bar_tag_heading
            {
                font-weight: bold;
                font-size: 9pt;
            }

            .div_notice_card
            {
                position: absolute;
                background-color: #fff;
                width: 200px;
                padding: 8px;
                cursor: pointer;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                top: 1500px;
                left: 600px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
            }
            .div_notice_card:hover
            {
                box-shadow: 0px 5px 10px rgba(0, 119, 240, 0.35);
            }
            .div_notice_card_image
            {
                max-height: 200px;
                text-align: center;
            }
            .img_notice_card_img
            {
                max-width: 100%;
                max-height: 200px;
            }
            .div_notice_card_title
            {
                margin-top: 5px;
                overflow: hidden;
            }
            .span_notice_card_title
            {
                font-size: 14pt;
                font-weight: bold;
                color: black;
            }
            .div_notice_card_snippet
            {
                overflow: hidden;
            }
            .span_notice_card_snippet
            {
                font-size: 9pt;
                color: black;
            }
            .div_notice_card_properties
            {
                overflow: hidden;
            }
            .span_notice_card_properties
            {
                font-size: 8pt;
                color: #979797;
            }
            .div_notice_card_counts
            {
                margin-top: 5px;
            }
            .span_notice_card_count_value
            {
                font-weight: bold;
                color: #0074fa;
            }
            .span_notice_card_count_unit
            {
                color: #0074fa;
            }

            .div_footer_bar
            {
                margin-top: 50px;
            }

            .div_dashboard_message
            {
                position: absolute;
                top: 180px;
                left: 300px;
            }
            .span_dashboard_message
            {
                font-size: 36pt;
                color: rgb(213, 213, 213);
                position: relative;
                padding: 91px;
                letter-spacing: -2pt;
                text-shadow: -1px -1px 1px rgb(184, 184, 184);
            }
            .span_dashboard_message:before
            {
                content: attr(title);
                color: rgba(255, 255, 255, 1);
                position: absolute;
                padding: 90px;
                letter-spacing: -2pt;
            }
            .span_dashboard_message:before
            {
                top: 1px;
                left: 1px;
                opacity: 0.4;
            }


        </style>
{% endblock %}

{% block body_onload_extension %}
    setupBlocks();
{% endblock %}

{% block content %}

        <div class="div_topping">
            <a href="{% url 'n2:compose_new' %}">
                <button class="n2_button" id="button_create_notice">create notice</button>
            </a>
            <div class="div_user_dropdown">
                <div class="div_user_dropdown_line">
                    <div class="div_user_dropdown_identifier">
                        {{ user }}
                    </div>
                    <div class="div_user_dropdown_icon">
                        <img class="img_user_dropdown_icon" src="/media/ui/dropdown.png"/>
                    </div>
                </div>
                <div class="div_user_dropdown_item">
                    <a href="{% url 'n2:edit_user' %}">
                        profile settings
                    </a>
                </div>
                <div class="div_user_dropdown_item">
                    <a href="{% url 'n2:logout' %}">
                        log out
                    </a>
                </div>
            </div>
        </div>

        <div id="div_filter_bar">

            <a href="{% url 'n2:index' %}">
                <div id="div_filter_bar_logo">
                    <img id="img_filter_bar_logo" src="/media/ui/n2_filterbar.png"/>
                </div>
            </a>
            <div id="div_filter_bar_sep">
            </div>
            <form>

                <!-- Submit -->
                <input class="n2_button_w" id="submit_filter" type="submit" value="filter"/>

                <!-- Keywords -->
                <div class="div_filter_bar_heading">
                    <span class="span_filter_bar_heading">KEYWORDS</span>
                </div>
                <span class="span_input_text">
                    {{ notice_search_form.keywords }}
                </span>

                <!-- Options -->
                <div class="div_filter_bar_heading">
                    <span class="span_filter_bar_heading">OPTIONS</span>
                </div>
                <div class="div_filter_bar_group">
                    <label for="id_bookmarked_only">{{ notice_search_form.bookmarked_only }}Bookmarked only</label><br/>
                    <label for="id_show_hidden">{{ notice_search_form.show_hidden }}Show hidden</label><br/>
                    <label for="id_show_expired">{{ notice_search_form.show_expired }}Show expired</label><br/>
                </div>

                <!-- Sort -->
                <div class="div_filter_bar_heading">
                    <span class="span_filter_bar_heading">SORT BY</span>
                </div>
                <div class="div_filter_bar_group">
                    {% for radio in notice_search_form.sort_by %}
                        <label>
                            {{ radio.tag }}
                            {{ radio.choice_label }}
                        </label>
                        <br/>
                    {% endfor %}
                </div>

                <!-- Tags -->
                <div class="div_filter_bar_heading">
                    <span class="span_filter_bar_heading">TAGS</span>
                </div>
                {% for tag_group in all_tags %}
                    {% if tag_group.tags %}
                        <div class="div_filter_bar_group">
                            <div class="div_filter_bar_tag_heading">
                                <span class="span_filter_bar_tag_heading">{{ tag_group.group_name }}</span><br/>
                            </div>
                            {% for tag in tag_group.tags %}
                                <label for="id_tags_{{ tag.pk }}"><input class="input_filter_bar_tag" id="id_tags_{{ tag.pk }}" name="tags" type="checkbox" value="{{ tag.pk }}" {% if tag.pk in selected_tags %}checked="checked"{% endif %}/>{{ tag.name }}</label><br/>
                            {% endfor %}
                            <br/>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Footer -->
                <div class="div_footer_bar">
                    <a href="{% url 'n2:about' %}">about</a>
                    |
                    <a href="http://www.unimelb.edu.au">unimelb</a>
                </div>
            </form>
        </div>

        <div id="div_dashboard_content">

            {% if notices %}
                {% for notice in notices %}
                    <a href="{% url 'n2:notice' notice.pk %}">
                        <div class="div_notice_card">
                            {% if notice.image %}
                                <div class="div_notice_card_image">
                                    <img class="img_notice_card_img" src="{{ notice.image.url }}"/>
                                </div>
                            {% endif %}
                            <div class="div_notice_card_title">
                                <span class="span_notice_card_title">{{ notice.title|striptags }}</span>
                            </div>
                            <div class="div_notice_card_snippet">
                                <span class="span_notice_card_snippet"> {{ notice.content|truncatewords:25|striptags }}</span>
                            </div>
                            <div class="div_notice_card_properties">
                                <span class="span_notice_card_properties">by {{ notice.author }} on {{ notice.datePublished|date:"j M Y" }}</span>
                            </div>
                            <div class="div_notice_card_counts">
                                <span class="span_notice_card_count_value">{{ notice.num_views }}</span> <span class="span_notice_card_count_unit">views</span>,
                                <span class="span_notice_card_count_value">{{ notice.num_likes }}</span> <span class="span_notice_card_count_unit">likes</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="div_dashboard_message">
                    <span class="span_dashboard_message" title="No results.">
                        No results.
                    </span>
                </div>
            {% endif %}

        </div>

{% endblock %}