{% extends "n2base.html" %}

{% block head_title %}
    Login
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="/media/ui/login.css">
    <style>
        #span_centerstage_forgot_password>a
        {
            color: #00a3f0;
            font-weight: bold;
        }
        #span_centerstage_forgot_password>a:hover
        {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}

        <div id="div_centerstage">

            <div id="div_centerstage_left" class="div_centerstage_part">
                <a href="{% url 'n2:index' %}">
                    <div id="div_centerstage_logo">
                        <span id="span_centerstage_logo">
                            <img src="/media/ui/n2_centerstage.png"/>
                        </span>
                    </div>
                </a>
                <div id="div_centerstage_heading">
                    Welcome
                </div>
                <div id="div_centerstage_text">
                    Please log in to continue.
                </div>
            </div>

            <div id="div_centerstage_sep" class="div_centerstage_part">
            </div>

            <div id="div_centerstage_right" class="div_centerstage_part">

                <div id="div_centerstage_form">

                    <form action="{% url 'n2:login' %}" method="post">

                        {% csrf_token %}

                        <table id="table_login">
                            <tr>
                                <td class="td_form_label{% if login_form.username.errors %} td_form_label_error{% endif %}">
                                    username
                                </td>
                                <td class="td_form_input">
                                    <span class="span_input_text">{{ login_form.username }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_form_label{% if login_form.password.errors %} td_form_label_error{% endif %}">
                                    password
                                </td>
                                <td class="td_form_input">
                                    <span class="span_input_text">{{ login_form.password }}</span>
                                </td>
                            </tr>
                        </table>

                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}

                        <input class="n2_button" id="submit_login" type="submit" value="log in"/>

                    </form>
                </div>

                <div id="div_centerstage_register">
                    <div id="div_centerstage_register_heading">
                        <span id="span_centerstage_register_heading">
                            New to N2?
                        </span>
                    </div>
                    <a href="{% url 'n2:register' %}">
                        <button class="n2_button"id="button_register">register</button>
                    </a>
                </div>

                <div id="div_centerstage_forgot_password">
                    <span id="span_centerstage_forgot_password">
                        <a href="{% url 'n2:reset' %}">
                            forgot password
                        </a>
                    </span>
                </div>

            </div>
        </div>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}