{% extends "n2base.html" %}

{% block head_title %}
    {{ notice.title }}
{% endblock %}

{% block head_extra %}
    <style type="text/css">

            .div_content_stage
            {
                margin-top: 15px;
            }
            .div_content_stage_image
            {
                text-align: center;
            }
            .div_content_stage_sep
            {
                border-bottom: solid 1px rgb(221, 221, 221);
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .image_content_stage
            {
                max-width: 100%;
                max-height: 600px;
            }
            .div_content_stage_left
            {
                display: inline-block;
                width: 550px;
                color: #000;
                vertical-align: top;
            }
            .div_content_stage_title
            {
                overflow: hidden;
            }
            .span_content_stage_title
            {
                font-size: 20pt;
                font-weight: bold;
            }
            .div_content_stage_properties
            {
                overflow: hidden;
            }
            .span_content_stage_properties
            {
                color: #777;
            }
            .div_content_stage_controls
            {
                margin-top: 7px;
            }
            .button_content_stage_control
            {
                font-size: 11pt;
                padding: 2px 15px;
                margin-right: 3px;
            }
            .div_content_stage_description
            {
                margin-top: 7px;
                overflow: hidden;
            }
            .div_content_stage_description a
            {
                color: #00a3f0;
            }
            .div_content_stage_description a:hover
            {
                text-decoration: underline;
            }

            .div_content_stage_right
            {
                display: inline-block;
                width: 200px;
                vertical-align: top;
            }
            .div_content_stage_stat
            {
                float: right;
                text-align: center;
                color: #0093e4;
                margin-left: 20px;
            }
            .span_content_stage_stat_value
            {
                font-size: 20pt;
            }
            .span_content_stage_stat_unit
            {
                font-size: 9pt;
                font-weight: bold;
                position: relative;
                top: -5px;
            }
            .div_content_stage_tags
            {
                float: right;
                text-align: right;
                clear: both;
                margin-top: 10px;
            }
            .div_content_stage_taggroup
            {
                font-weight: bold;
            }
            .div_content_stage_tag
            {
                border: 0px;
                border-top: 1px solid #82cfff;
                background: #008af0; /* Old browsers */
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                text-shadow: rgba(0,0,0,.4) 0 1px 0;
                color: white;
                font-size: 8pt;
                padding: 2px 15px;
                margin-top: 5px;
                text-align: center;
                display: inline-block;
            }

            .a_control
            {
                display: inline-block;
            }

            iframe
            {
                width: 100%;
                border: 0px;
            }

        </style>
{% endblock %}

{% block content %}

    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}

        <div class="div_bar_top">
            <div class="div_bar_container width_std">
                <a href="{% url 'n2:index' %}">
                     <div class="div_bar_logo">
                        <img class="img_bar_logo" src="/media/ui/n2_filterbar.png"/>
    {#                    <!--img class="img_bar_logo" src="{% static "testpic.jpg" %}"/-->#}
                    </div>
                </a>
                <div class="div_topping">
                    <a href="{% url 'n2:compose_new' %}">
                        <button class="n2_button_w button_create_notice_topbar">create notice</button>
                    </a>
                    <div class="div_user_dropdown">
                        <div class="div_user_dropdown_line">
                            <div class="div_user_dropdown_identifier">
                                {{ user }}
                            </div>
                            <div class="div_user_dropdown_icon">
                                <img class="img_user_dropdown_icon" src="/media/ui/dropdown.png"/>
                            </div>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:edit_user' %}">
                                profile settings
                            </a>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:logout' %}">
                                log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_bar_top_spacer">
        </div>

        <div class="div_content_stage width_std">

            {% if notice.image %}
            <div class="div_content_stage_image">
                <img class="image_content_stage" src="{{ notice.image.url }}"/>
            </div>
            <div class="div_content_stage_sep">
            </div>
            {% endif %}

            <div class="div_content_stage_left">
                <div class="div_content_stage_title">
                    <span class="span_content_stage_title">
                        {{ notice.title }}
                    </span>
                </div>
                <div class="div_content_stage_properties">
                    <span class="span_content_stage_properties">
                        by {{ notice.author }} on {{ notice.datePublished|date:"j M Y" }}
                    </span>
                </div>
                <div class="div_content_stage_controls">
                    <a class="a_control" id="bookmark_element" href="javascript:Dajaxice.n2.toggle_bookmark(bookmark_display_update, {'notice_id': {{ notice.pk }} })">
                        <button class="n2_button button_content_stage_control" id="button_bookmark">
                        </button>
                    </a>
                    <a class="a_control" id="like_element" href="javascript:Dajaxice.n2.toggle_like(like_display_update, {'notice_id': {{ notice.pk }} })">
                        <button class="n2_button button_content_stage_control" id="button_like">
                        </button>
                    </a>
                    <a class="a_control" id="hide_element" href="javascript:Dajaxice.n2.toggle_hide(hide_display_update, {'notice_id': {{ notice.pk }} })">
                        <button class="n2_button button_content_stage_control" id="button_hide">
                        </button>
                    </a>
                    <a href="{% url 'n2:compose_edit' notice.pk %}">
                        <button class="n2_button button_content_stage_control" id="button_edit">
                            edit
                        </button>
                    </a>
                    <script type="text/javascript">

                        bookmark_true = '<div>bookmarked (remove)</div>'
                        bookmark_false = '<div>add to bookmarks</div>'
                        like_true = '<div>liked (unlike)</div>'
                        like_false = '<div>like this notice</div>'
                        hide_true = '<div>hidden (unhide)</div>'
                        hide_false = '<div>hide</div>'

                        function display_toggle(element_name, status, innerTrue, innerFalse) {
                            document.getElementById(element_name).getElementsByTagName('button')[0].innerHTML=status?innerTrue:innerFalse;
                        }

                        function bookmark_display_update(data) {
                            display_toggle('bookmark_element', data.bookmark == 'added', bookmark_true, bookmark_false);
                        }
                        function like_display_update(data) {
                            display_toggle('like_element', data.like == 'added', like_true, like_false);
                        }
                        function hide_display_update(data) {
                            display_toggle('hide_element', data.hide == 'added', hide_true, hide_false);
                        }

                        display_toggle('bookmark_element', {% if bookmarked %}true{% else %}false{% endif %}, bookmark_true, bookmark_false);
                        display_toggle('like_element', {% if liked %}true{% else %}false{% endif %}, like_true, like_false);
                        display_toggle('hide_element', {% if hidden %}true{% else %}false{% endif %}, hide_true, hide_false);

                    </script>
                </div>
                <div class="div_content_stage_description">
                    {{ notice.content|safe|linebreaks }}
                </div>
            </div>
            <div class="div_content_stage_right">
                <div class="div_content_stage_stat">
                    <div class="div_content_stage_stat_value">
                        <span class="span_content_stage_stat_value">
                            {{ notice.num_likes }}
                        </span>
                    </div>
                    <div class="div_content_stage_stat_unit">
                        <span class="span_content_stage_stat_unit">
                            likes
                        </span>
                    </div>
                </div>
                <div class="div_content_stage_stat">
                    <div class="div_content_stage_stat_value">
                        <span class="span_content_stage_stat_value">
                            {{ notice.num_views }}
                        </span>
                    </div>
                    <div class="div_content_stage_stat_unit">
                        <span class="span_content_stage_stat_unit">
                            views
                        </span>
                    </div>
                </div>
                <div class="div_content_stage_tags">

                    {% regroup notice_tags by tagGroup as tag_groups %}

                    {% for tag_group in tag_groups %}
                        <div class="div_content_stage_taggroup">
                                {{ tag_group.grouper }}
						</div>
						{% for tag in tag_group.list %}
                            <a href="{% url 'n2:index' %}?tags={{ tag.pk }}">
                                <div class="div_content_stage_tag">
                                    <span class="span_content_stage_tag">
                                        {{ tag }}
                                    </span>
                                </div>
                            </a>
						{% endfor %}
						<br/>
                    {% endfor %}



                </div>
            </div>
        </div>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}