{% extends "n2base.html" %}

{% block head_title %}
    Reset password
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="/media/ui/login.css">
    <style>
        #div_centerstage_form
        {
            margin-top: 35%;
        }
        #submit_reset
        {
            width: 200px;
            padding: 3px;
            margin-left: 89px;
            margin-top: 3px;
        }
    </style>
{% endblock %}

{% block content %}

        <div id="div_centerstage">

            <div id="div_centerstage_left" class="div_centerstage_part">
                <a href="{% url 'n2:index' %}">
                    <div id="div_centerstage_logo">
                        <span id="span_centerstage_logo">
                            <img src="/media/ui/n2_centerstage.png"/>
                        </span>
                    </div>
                </a>
                <div id="div_centerstage_heading">
                    We can give you a new password.
                </div>
                <div id="div_centerstage_text">
                    Fill in your details to the right, then check your email for a new password from us.
                </div>
            </div>

            <div id="div_centerstage_sep" class="div_centerstage_part">
            </div>

            <div id="div_centerstage_right" class="div_centerstage_part">

                <div id="div_centerstage_form">

                    <form action="{% url 'n2:reset' %}" method="post">

                        {% csrf_token %}

                        <table id="table_login">
                            <tr>
                                <td class="td_form_label{% if form.username.errors %} td_form_label_error{% endif %}">
                                    username
                                </td>
                                <td class="td_form_input">
                                    <span class="span_input_text">{{ form.username }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_form_label{% if form.email.errors %} td_form_label_error{% endif %}">
                                    email
                                </td>
                                <td class="td_form_input">
                                    <span class="span_input_text">{{ form.email }}</span>
                                </td>
                            </tr>
                        </table>

                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}

                        <input class="n2_button" id="submit_reset" type="submit" value="reset password"/>

                    </form>
                </div>

            </div>
        </div>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}