{% extends "n2base.html" %}

{% block head_title %}
    Welcome
{% endblock %}

{% block head_extra %}
    <style type="text/css">

        .div_content_stage
        {
            margin-top: 15px;
            text-align: center;
            padding-bottom: 40px;
        }
        .span_about_title
        {
            color: #0070c0; /* Old browsers */
            background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 48pt;
            font-weight: bold;
        }
        .div_about_heading
        {
            margin-top: 20px;
        }
        .span_about_heading
        {
            color: #0070c0; /* Old browsers */
            background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 100%); /* Chrome10+,Safari5.1+ */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 28pt;
        }
        .div_about_paragraph
        {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }
        .span_bold
        {
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block content %}

    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}

        <div class="div_bar_top">
            <div class="div_bar_container width_std">
                <a href="{% url 'n2:index' %}">
                     <div class="div_bar_logo">
                        <img class="img_bar_logo" src="/media/ui/n2_filterbar.png"/>
    {#                    <!--img class="img_bar_logo" src="{% static "testpic.jpg" %}"/-->#}
                    </div>
                </a>
                <div class="div_topping">
                    <div class="div_user_dropdown">
                        <div class="div_user_dropdown_line">
                            <div class="div_user_dropdown_identifier">
                                {{ user }}
                            </div>
                            <div class="div_user_dropdown_icon">
                                <img class="img_user_dropdown_icon" src="/media/ui/dropdown.png"/>
                            </div>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:edit_user' %}">
                                profile settings
                            </a>
                        </div>
                        <div class="div_user_dropdown_item">
                            <a href="{% url 'n2:logout' %}">
                                log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_bar_top_spacer">
        </div>

        <div class="div_content_stage width_std">
            <div class="div_about_title">
                <span class="span_about_title">
                    welcome.
                </span>
            </div>
            <div class="div_about_heading">
                <span class="span_about_heading">
                    check your inbox
                </span>
            </div>
            <div class="div_about_paragraph">
                <span class="span_about_paragraph">
                    We sent an email to <span class="span_bold">{{ request.user.email }}</span> with a link to activate your account.<br/>
                    Simply open it to start using N2.
                </span>
            </div>
        </div>

        <div class="div_footer">
            <a href="{% url 'n2:index' %}">home</a>
            |
            <a href="{% url 'n2:about' %}">about</a>
            |
            <a href="http://www.unimelb.edu.au">unimelb</a>
        </div>

{% endblock %}