{% extends "n2base.html" %}

{% block head_title %}
    Register
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="/media/ui/login.css">
    <style>
        #div_centerstage_logo
        {
            margin-top: 15%;
        }
        #div_centerstage_form
        {
            margin-top: 25%;
            margin-left: 7%;
            margin-right: 7%;
        }
        #submit_register {
            width: 200px;
            padding: 3px;
            margin-left: 154px;
            margin-top: 3px;
        }
        .td_form_label
        {
            width: 200px;
        }
        #div_centerstage_text
        {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        body
        {
            background: #00b0f0; /* Old browsers */
            background: -moz-linear-gradient(top,  #00b0f0 0%, #0070c0 50%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b0f0), color-stop(50%,#0070c0)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #00b0f0 0%,#0070c0 50%); /* IE10+ */
            background: linear-gradient(to bottom,  #00b0f0 0%,#0070c0 50%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#0070c0',GradientType=0 ); /* IE6-9 */
            background-color: #2fbcef;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="div_centerstage">

        <div id="div_centerstage_left" class="div_centerstage_part">
            <a href="{% url 'n2:index' %}">
                <div id="div_centerstage_logo">
                    <span id="span_centerstage_logo">
                        <img src="/media/ui/n2_centerstage.png"/>
                    </span>
                </div>
            </a>
            <div id="div_centerstage_heading">
                Let's get started!
            </div>
            <div id="div_centerstage_text">
                Use your University of Melbourne email address to register. To protect your identity, you can pick a username different from your official university login.
            </div>
        </div>

        <div id="div_centerstage_sep" class="div_centerstage_part">
        </div>

        <div id="div_centerstage_right" class="div_centerstage_part">

            <div id="div_centerstage_form">
                <form action="{% url 'n2:register' %}" method="post">
                    {% csrf_token %}
                    <table id="table_login">
                        <tr>
                            <td class="td_form_label{% if register_form.username.errors %} td_form_label_error{% endif %}">
                                username
                            </td>
                            <td class="td_form_input">
                                <span class="span_input_text">{{ register_form.username }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_form_label{% if register_form.password.errors %} td_form_label_error{% endif %}">
                                password
                            </td>
                            <td class="td_form_input">
                                <span class="span_input_text">{{ register_form.password }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_form_label{% if register_form.first_name.errors %} td_form_label_error{% endif %}">
                                first name
                            </td>
                            <td class="td_form_input">
                                <span class="span_input_text">{{ register_form.first_name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_form_label{% if register_form.last_name.errors %} td_form_label_error{% endif %}">
                                last name
                            </td>
                            <td class="td_form_input">
                               <span class="span_input_text">{{ register_form.last_name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_form_label{% if register_form.email.errors %} td_form_label_error{% endif %}">
                                email
                            </td>
                            <td class="td_form_input">
                                <span class="span_input_text">{{ register_form.email }}</span>
                            </td>
                        </tr>

                    </table>

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}

                    <input class="n2_button" id="submit_register" type="submit" value="register"/>

                </form>
            </div>

        </div>
    </div>

    <div class="div_footer_bar">
        <a href="{% url 'n2:index' %}">home</a>
        |
        <a href="{% url 'n2:about' %}">about</a>
        |
        <a href="http://www.unimelb.edu.au">unimelb</a>
    </div>

{% endblock %}